/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
.spu-box{
    tabindex: 1 !important;
}

.comment-form-error,
#commentform input::placeholder,
#commentform textarea::placeholder{
    color: red;
}

.woocommerce-edit-address .has-error,
.woocommerce-edit-address .has-error + span.select2 .select2-selection,
.woocommerce-form .has-error,
.single-product #review_form .has-error{
    border-color: red !important;
}

.cpp_badge_wrapper{
    z-index: 29 !important;
}

@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}